@import "./button.pixel.scss";
@import "./form.login.scss";
@import "./header.scss";
@import "./footer.scss";
@import "./home.scss";

body {
  background-color: #e5e5e5;
}

.logo {
  width: 123px;
  height: 110px;
  background-color: white;
  border-radius: 100px;

  .img-logo {
    background: url("./../images/179697246_217241259786123_3331613001598181331_n.png");
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
  }
}
